#main{	
	display: block;				
	position: absolute;
	margin: 15px auto;
	width: 250px;
	height: 300px;
	right: 0px;
	left: 0px;
	background-color: #ddd;
	padding: 5px 15px 25px 15px;
	border-radius: 10px;
	border: 1px solid #c2c2c2;
}
.loginTitle{
	text-align: center;
	background-color: #c2c2c2;
	padding: 5px;
	border-radius: 5px;
} 

#canvsContainer{
  position: absolute;
  cursor: pointer;
}
.patternChkAdjLabel{
	display: inline-block !important;
	margin-top: -25px !important;
	vertical-align: middle;
}
.ui-checkbox{
	display: inline-block;
	margin-left: 13px;
}




